body{

margin:0;

font-family:Arial;

background:hsl(180, 41%, 81%);

color:#333;

text-align:center;

}

.dark{

background:#1d1d1d;

color:white;

}

header{

background:#8bb5f5;

padding:25px;

color:white;

}

.subtitle{

font-size:20px;

}

nav{

margin:20px;

}

button{

background:#88b4f7;

color:white;

padding:12px 20px;

border:none;

border-radius:8px;

cursor:pointer;

margin:5px;

font-size:16px;

}

button:hover{

background:#5a92e6;

}

.card{

background:white;

width:70%;

margin:auto;

padding:25px;

border-radius:15px;

box-shadow:0px 0px 15px gray;

margin-bottom:30px;

}

.dark .card{

background:#2f2f2f;

}

img{

width:180px;

height:180px;

border-radius:50%;

border:5px solid #7baffd;

margin:15px;

}

input,

textarea{

width:80%;

padding:10px;

border-radius:8px;

border:1px solid gray;

}

textarea{

height:120px;

}

.error{

color:red;

font-size:14px;

}

ul{

list-style:none;

padding:0;

}

li{

background:#7eadf3;

color:white;

margin:10px;

padding:12px;

border-radius:8px;

}